<%= render 'questions', questions: @questions do %>
  <% if @keywords %>
    <h1 class="h5">Search Results for 
      <span class='text-success'>'<%= @keywords %>'</span>
    </h1>
  <% else %>
    <h1 class="h5 text-uppercase">Questions</h1>
    <%= link_to 'New Question', new_question_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>
