<div class="card my-2">
  <div class="card-body p-1">
    <div class="d-flex align-items-center">
      <%= user_avatar(user, height: 50, width: 50) %>
      <div class='ms-2'>
        <%= link_to user.name, user, class: 'card-title h5' %>
        <p class="fw-light small my-0 py-0">
          <strong class='me-1'>Joined:</strong>
          <%= user.created_at.strftime("%d %b %Y, %H:%M") %>
        </p>
      </div>
    </div>
  </div>
</div>
