@import 'bootstrap';

input[type='submit'] {
  margin-top: 0.6em;
}

a {
  text-decoration: none;
}

form {
  em,
  i {
    color: gray;
    font-size: 0.75rem;
  }

  label {
    margin-bottom: 0.2em;
    margin-top: 0.4em;
  }

  .custom-file-label {
    display: none;
  }
}

.nav-tabs {
  li > a.nav-link {
    cursor: pointer;
  }
}

a.reply-link,
a.star-link,
a.decide-link,
a.delete-link,
.timestamp {
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: lowercase;
}

a.reply-link {
  cursor: pointer;
}

img.group-banner {
  max-height: 60vh;
  object-fit: cover;
}

a.tag-item {
  background: white;
  color: var(--bs-dark);
  text-decoration: none;
  margin: 0 0.3em;

  &:hover {
    color: white;
    background-color: var(--bs-gray);
  }
}
